body{
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

header{
    background-color: #F5FFFA;
}

main {
   background-color: #F5FFFA;
}

a {
    display: block;
    position: relative;
    padding: 0.2em 0;
    color: #343434;
}

a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #343434;
    color: #343434;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
 }

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-name{
    outline: 0;
    text-decoration: none;
    font-size: 24px;
    color: #343434;
}


.navbar-nav .nav-link:hover{
    color: #343434;
}

#introduction{
    text-align: center;
}

#introduction img {
    border: 2px solid  inherit;
    border-radius: 75%;
    width: 510px;
}

h2, h3, h5, p{
    color: #343434;
}

p{
    font-size: 20px;
}

.links {
    display: inline-flex;
    font-size: 30px;
    letter-spacing: normal;
}

.history  {
    align-items: center;
}

@media (orientation:portrait) and (min-height: 1080px){
    body, html{
      margin:0;
      height:100%;
    }
}

@media (orientation:portrait) and (min-height: 1080px){
    .container-fluid {
      height: 100%;
    }
}
