body{
    font-family: 'Rubik', sans-serif;
    background-color: #F5FFFA;
    width:100%;
    min-width:1000px;
    height:auto;
}

header{
    background-color: #F5FFFA;
}

.links{
    position: relative;
    font-size: 30px;
    letter-spacing: normal;
    color: #343434;
}

.links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #343434;
    color: #343434;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-header > h3{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    outline: 0;
    text-decoration: none;
    font-size: 24px;
    color: #343434;
}


.navbar-nav .nav-link:hover{
    color: #343434;
}

#introduction{
    text-align: center;
}

#introduction img {
    border: 2px solid  inherit;
    border-radius: 75%;
    width: 510px;
}

h2, h3, h5, p{
    color: #343434;
}

p{
    font-size: 20px;
}

.apps{
    height: 500px;
    width: 600px;    
}

figure{
    margin-top: 30px;
}

figcaption{
    font-size: large;
}

#portfolio{
    margin-top: 30px;
}
